https://en.wikipedia.org/wiki/FIFA_World_Cup

If one considers all possible outcomes (win, draw, loss) for all six matches in a group, there are 729 (= 36) different outcome combinations possible. However a certain number (207) of these combinations lead to ties between the second and third places. In such case, the ranking among these teams is determined as follows:[53]

Greatest combined goal difference in all group matches
Greatest combined number of goals scored in all group matches
If more than one team remain level after applying the above criteria, their ranking will be determined as follows:
Greatest number of points in head-to-head matches among those teams
Greatest goal difference in head-to-head matches among those teams
Greatest number of goals scored in head-to-head matches among those teams
If any of the teams above remain level after applying the above criteria, their ranking will be determined by the drawing of lots
